@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
    --brand-primary: #E7E5E5;
    --brand-secondary: #D5D0D2;
    --brand-tertiary: #C5BFC4;
    --brand-quartenary: #64656E;
    --success-color: #ECEBEB;
    --typo-text: #111;
}

* {
    font-family: 'roboto mono', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar Stylingen */


.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'roboto mono', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background: var(--brand-quartenary);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: var(--typo-text);
    font-size: 25px;
    font-weight: 600;

}
.navbar .logo a span {
    color: var(--brand-quartenary);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: var(--typo-text);
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: var(--typo-text);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--brand-quartenary);
}
.navbar.sticky .menu li a:hover {
    color: var(--typo-text);
}

/* Styling af knappen på forsiden */

.menu-btn {
    color: var(--typo-text);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--brand-quartenary);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    background: var(--brand-primary);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Styling af forside content */

section {
    padding: 100px 0;
}
.forside {
    display: flex;
    background: url(/images/Billedeommig.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: var(--typo-text);
    min-height: 500px;
    font-family: 'roboto mono', sans-serif;
}
.forside .max-width {
    margin: auto 0 auto 40px;
}
.forside .forside-content .tekst-1 {
    font-size: 27px;
}
.forside .forside-content .tekst-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.forside .forside-content .tekst-3 {
    font-size: 40px;
    margin: 5px 0;
}
.forside .forside-content .tekst-3 span {
    color: var(--brand-quartenary);
    font-weight: 500;
}
.forside .forside-content a {
    display: inline-block;
    background: var(--brand-quartenary);
    color: var(--typo-text);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--brand-quartenary);
    transition: all 0.3s ease;
}
.forside .forside-content a:hover {
    color: var(--brand-quartenary);
    background: none;
}

/* Om mig stylingen */

.om-mig .tittle::after {
    background: var(--brand-primary);
    content: "Hvem er jeg";
}
.om-mig .om-mig-content .left {
    width: 45%;
}
.om-mig .om-mig-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.om-mig .om-mig-content .right {
    width: 55%;
}
.om-mig .om-mig-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.om-mig .om-mig-content .right .text span {
    color: var(--brand-quartenary);
}
.om-mig .om-mig-content .right p {
    text-align: justify;
}
.om-mig .om-mig-content .right a {
    display: inline-block;
    background: var(--brand-quartenary);
    color: var(--typo-text);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--brand-quartenary);
    transition: all 0.3s ease;
}
.om-mig .om-mig-content .right a:hover {
    color: var(--brand-quartenary);
    background: none;

}

/* Ensformet kodning */

section {
    padding: 100px 0;
}
.om-mig, .service, .skills .projekter, footer {
    font-family: 'roboto mono', sans-serif;
}
.om-mig .om-mig-content,
.service .service-content,
.skills .skills-content  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .tittle {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'roboto mono', sans-serif;
}
section .tittle::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--brand-primary);
    transform: translateX(-50%);
}
section .tittle::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--brand-quartenary);
    padding: 5px;
    background: var(--typo-text);
    transform: translateX(-50%);
}

/* Styling af Service sektion */

.service, .projekter {
    color: var(--typo-text);
    background: var(--brand-primary);
}
.service .tittle::before,
.projekter .tittle::before {
    background: var(--typo-text);
}
.service .tittle::after,
.projekter .tittle::after {
    background: var(--brand-primary);
    content: "Hvad jeg kan";
}
.service .service-content .card {
    width: calc(33% - 20px);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.service .service-content .card:hover {
    background: var(--brand-quartenary);
}
.service .service-content .card .box {
    transition: all 0.3s ease;
}
.service .service-content .card:hover .box {
    transform: scale(1.05);
}
.service .service-content .card i {
    font-size: 50px;
    color: var(--brand-quartenary);
    transition: color 0.3s ease;
}
.service .service-content .card:hover i {
    color: var(--typo-text);
}
.service .service-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
} 


/* Styling af Skills sektion */

.skills .tittle::after {
    background: var(--brand-primary);
    content: "Programmer";
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p {
    text-align: justify;
}
.skills .skills-content .left a {
    display: inline-block;
    background: var(--brand-quartenary);
    color: var(--typo-text);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--brand-quartenary);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
    color: var(--brand-quartenary);
    background: none;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: var(--success-color);
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: blue;
}
.skills-content .right .html::before {
    width: 70%;
}
.skills-content .right .css::before {
    width: 50%;
}
.skills-content .right .js::before {
    width: 30%;
}
.skills-content .right .adobe::before {
    width: 80%;
}


/* Kodning af projekter */ 

.projekter .tittle::after {
    content: "Portfolio";
}
.projekter .carousel .card {
    background: var(--success-color);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.projekter .carousel .card:hover {
    background: var(--brand-quartenary)
}
.projekter .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projekter .carousel .card:hover .box {
    transform: scale(1.05);
}
.projekter .carousel .card  .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.projekter .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--brand-quartenary);
    transition: all 0.3s ease;
}
.projekter .carousel .card:hover img {
    border-color: var(--typo-text);
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--brand-quartenary)!important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.own-dot.active,
.own-dot:hover {
    background: var(--brand-quartenary)!important;
}

/* Styling af Footer */

footer {
    background: var(--brand-primary);
    padding: 20px 23px;
    color: var(--typo-text);
    text-align: center;
}
footer span a {
    color: var(--brand-quartenary);
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}

/* Responvsiv kodning */ 

@media (max-width: 1300px){
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .om-mig .om-mig-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--brand-primary);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0%;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .forside .forside-content .tekst-2 {
        font-size: 70px;
    }
    .forside .forside-content .tekst-3 {
        font-size: 35px;
    }
    .forside .forside-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .om-mig .om-mig-content .column {
        width: 100%;
    }
    .om-mig .om-mig-content .left {
        display: flex;
        justify-content: center;
        margin: o auto 60px;
    }
    .om-mig .om-mig-content .right {
        flex: 100%;
    }
    .service .service-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .forside .forside-content .tekst-2 {
        font-size: 60px;
    }
    .forside .forside-content .tekst-3 {
        font-size: 32px;
    }
    .forside .forside-content a {
        font-size: 20px;
    }
    .service .service-content .card {
        width: 100%;
    }
}

@media (max-width: 500px){
    .forside .forside-content .tekst-2 {
        font-size: 50px;
    }
    .forside .forside-content .tekst-3 {
        font-size: 27px;
    }
}